<!--17-->
<table width="520" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
	<tr>
		<td width="520" height="40" align="left" valign="top"></td>
	</tr>
	<tr>
		<td width="520" align="left" valign="top">
			<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="2" style="font-size:22px;">Richiesta informazioni</font>
		</td>
	</tr>
	<tr>
		<td width="520" height="50" align="left" valign="top"></td>
	</tr>
	<tr>
		<td width="520" align="left" valign="top">
			<table cellpadding="2" cellspacing="2" width="100%">
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Nome:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Data.firstName</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Cognome:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Data.lastName</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Email:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Data.email</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Company:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Data.company</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Role:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Role</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Interessi:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Interests</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Country:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Country</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Provincia:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Provincia</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Newsletter:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Newsletter</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Messaggio:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Data.message</font>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="520" height="50" align="left" valign="top"></td>
	</tr>
</table>
<!--16-->
<table class="text" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
	<tr>
		<td height="30"></td>
	</tr>
	<tr>
		<td style="margin-top: 0;margin-bottom: 2rem;font-family: 'Barlow',Verdana,serif;font-weight: 500;line-height: 1.2;color: #28292B;font-size: 52px;">
			<span style="font-weight: 600">Mario Rossi,</span> <br>Benvenuto nel club
		</td>
	</tr>
	<tr>
		<td height="24"></td>
	</tr>

	<tr>
		<td style="font-family: Karla, sans-serif; font-size: 16px; line-height: 24px; color: #28292B; text-align: center;">
			<div style="text-align: left;font-size: 18px;line-height: 140%;">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
			<div style="text-align: center;">&nbsp;</div>
		</td>
	</tr>

	<tr>
		<td height="24"><span>&nbsp;</span></td>
	</tr>

	<tr>
		<td style="font-family: 'Barlow', Verdana, sans-serif; font-size: 32px; line-height: 24px; color: #28292B; text-align: left;">
			Riepilogo dati:
		</td>
	</tr>

	<tr>
		<td height="28"><span>&nbsp;</span></td>
	</tr>

	<table width="100%" style="color:#494B4A;font-size:15px;">

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Nome</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.Data.firstName
			</td>
		</tr>

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Cognome</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.Data.lastName
			</td>
		</tr>

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Email</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.Data.email
			</td>
		</tr>

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Telefono</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.Data.telephone
			</td>
		</tr>

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Settore di interesse</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.Interesse
			</td>
		</tr>

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Esperienza all'estero</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.Esperienza
			</td>
		</tr>

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Esperienza all'estero - dove</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.Data.company
			</td>
		</tr>

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Messaggio</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.Data.introduction
			</td>
		</tr>

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>File</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.LinkFile
			</td>
		</tr>

		<tr>
			<td cellspacing="2" height="24">
				<p>&nbsp;</p>
			</td>
		</tr>

	</table>


	<tr>
		<td height="60px">
			<p>&nbsp;</p>
		</td>
	</tr>

</table>
<!--15-->
<table class="text" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
	<tr>
		<td height="30"></td>
	</tr>
	<tr>
		<td style="margin-top: 0;margin-bottom: 2rem;font-family: 'Barlow',Verdana,serif;font-weight: 500;line-height: 1.2;color: #28292B;font-size: 52px;">
			<span style="font-weight: 600">Gentile @Model.User["ut_nome"] @Model.User["ut_cognome"],</span> <br>
		</td>
	</tr>
	<tr>
		<td height="24"></td>
	</tr>

	<tr>
		<td style="font-family: Karla, sans-serif; font-size: 16px; line-height: 24px; color: #28292B; text-align: center;">
			<div style="text-align: left;font-size: 18px;line-height: 140%;">
				ci dispiace, la tua richiesta di iscrizione al Tiemme Club non è andata a buon fine.
				Contatta il nostro Servizio Clienti per maggiori dettagli.
			</div>
			<div style="text-align: center;">&nbsp;</div>
		</td>
	</tr>

	<tr>
		<td height="24"><span>&nbsp;</span></td>
	</tr>

	<tr>
		<td style="font-family: 'Barlow', Verdana, sans-serif; font-size: 32px; line-height: 24px; color: #28292B; text-align: left;">
			Ecco i tuoi dati di accesso:
		</td>
	</tr>

	<tr>
		<td height="28"><span>&nbsp;</span></td>
	</tr>

	<table width="100%" style="color:#494B4A;font-size:15px;">

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Username:</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.User.EMail
			</td>
		</tr>

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Password</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				Password: @Model.User.Password
			</td>
		</tr>

		<tr>
			<td cellspacing="2" height="24">
				<p>&nbsp;</p>
			</td>
		</tr>

	</table>


	<tr>
		<td style="background-color: #b9bdcd;text-align:center;height:60px;color:#ffffff;text-transform:uppercase;">
			Tiemme
			[icone social]
			<a href="www.tiemme.com">www.tiemme.com</a>

		</td>
	</tr>

	<tr>
		<td height="60px">
			<p>&nbsp;</p>
		</td>
	</tr>

</table>
<!--14-->
<table class="text" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
	<tr>
		<td height="30"></td>
	</tr>
	<tr>
		<td style="margin-top: 0;margin-bottom: 2rem;font-family: 'Barlow',Verdana,serif;font-weight: 500;line-height: 1.2;color: #28292B;font-size: 52px;">
			<span style="font-weight: 600">Gentile @Model.User["ut_nome"] @Model.User["ut_cognome"],</span> <br>benvenuto nel Tiemme Club!
		</td>
	</tr>
	<tr>
		<td height="24"></td>
	</tr>

	<tr>
		<td style="font-family: Karla, sans-serif; font-size: 16px; line-height: 24px; color: #28292B; text-align: center;">
			<div style="text-align: left;font-size: 18px;line-height: 140%;">
				Da questo momento potrai:
				Accedere alla documentazione tecnica, al listino prezzi e al nuovissimo portale BIM
				Restare costantemente aggiornato sui prodotti di tuo interesse e ottenere l'invito ai nostri eventi
				Accedere ai percorsi di aggiornamento e formazione professionale Tiemme
			</div>
			<div style="text-align: center;">&nbsp;</div>
		</td>
	</tr>

	<tr>
		<td height="24"><span>&nbsp;</span></td>
	</tr>

	<tr>
		<td style="font-family: 'Barlow', Verdana, sans-serif; font-size: 32px; line-height: 24px; color: #28292B; text-align: left;">
			Ecco i tuoi dati di accesso:
		</td>
	</tr>

	<tr>
		<td height="28"><span>&nbsp;</span></td>
	</tr>

	<table width="100%" style="color:#494B4A;font-size:15px;">

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Username:</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				@Model.User.EMail
			</td>
		</tr>

		<tr style="height:60px;">
			<td style="text-align:left;border-bottom:2px solid #F0F0F0;">
				<b>Password</b>
			</td>
			<td style="text-align:right;border-bottom:2px solid #F0F0F0;">
				Password: @Model.User.Password
			</td>
		</tr>

		<tr>
			<td cellspacing="2" height="24">
				<p>&nbsp;</p>
			</td>
		</tr>

	</table>


	<tr>
		<td style="background-color: #b9bdcd;text-align:center;height:60px;color:#ffffff;text-transform:uppercase;">
			<a class="mobile-button" href="@Model.Link" style="background-color: #b9bdcd;text-transform:uppercase;text-align:center;font-size: 20px; font-family: 'Barlow', sans-serif; font-weight: bold; text-decoration: none!important; color:#16255b;padding:15px 0;border-top: 0px solid #b9bdcd; border-bottom: 0px solid #b9bdcd; border-left: 0px solid #b9bdcd; border-right: 0px solid #b9bdcd; display: block;width:100%;" target="_blank" title="Profilo">
				Accedi subito al Tiemme Club
			</a>
			SERVE ALTRO AIUTO?
			Contatta il nostro Servizio Clienti

			Tiemme
			[icone social]
			www.tiemme.com
		</td>
	</tr>

	<tr>
		<td height="60px">
			<p>&nbsp;</p>
		</td>
	</tr>

</table>
<!--13-->
<table>
	<tr>
		<td width="520" align="left" valign="top">
			<font face="Arial, Helvetica, sans-serif" color="#828282" size="2" style="font-size:22px;">@Model.User["ut_nome"] @Model.User["ut_cognome"] (@Model.User["ut_email"]), ha inviato una richiesta di iscrizione al Tiemme Club</font>
		</td>
	</tr>
	<tr>
		<td width="520" height="50" align="left" valign="top"></td>
	</tr>
	<tr>
		<td width="520" align="left" valign="top">
			<a href="@Model.Link">Verifica account</a>
		</td>
	</tr>
</table>
<!--5-->
<table width="520" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
	<tr>
		<td width="520" height="40" align="left" valign="top"></td>
	</tr>
	<tr>
		<td width="520" align="left" valign="top">
			<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="2" style="font-size:22px;">Essere contattato</font>
		</td>
	</tr>
	<tr>
		<td width="520" height="50" align="left" valign="top"></td>
	</tr>
	<tr>
		<td width="520" align="left" valign="top">
			<table cellpadding="2" cellspacing="2" width="100%">
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Nome:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Data.firstName</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Cognome:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Data.lastName</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Email:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Data.email</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Company:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Data.company</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Role:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Role</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Interessi:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Interests</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Country:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Country</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Provincia:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Provincia</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Newsletter:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Newsletter</font>
					</td>
				</tr>
				<tr>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size: 13px;">
							Messaggio:</font>
					</td>
					<td>
						<font face="Arial, Helvetica, sans-serif" color="#828282" size="1" style="font-size: 13px;">@Model.Data.message</font>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="520" height="50" align="left" valign="top"></td>
	</tr>
</table>
<!--4-->
<table>
	<tr>
		<td width="520" align="left" valign="top">
			<font face="Arial, Helvetica, sans-serif" color="#828282" size="2" style="font-size:22px;">Gentile @Model.User["ut_nome"] @Model.User["ut_cognome"] (@Model.User["ut_email"]),</font>
		</td>
	</tr>
	<tr>
		<td width="520" height="50" align="left" valign="top"></td>
	</tr>
	<tr>
		<td width="520" align="left" valign="top">
			<font face="Arial, Helvetica, sans-serif" color="#1b1b1b" size="1" style="font-size:13px;">
				abbiamo ricevuto la sua notifica di smarrimento dei propri dati di accesso.
				<br /><br />Segua questo link per modificare la sua password:
				<a href="@Model.Link">Modifica password</a> <br />
				o copi/incolli questo indirizzo: <strong>@Model.Link</strong>
		</td>
	</tr>
</table>
<!--1-->
<table>
	<tbody>
		<tr>
			<td align="left" valign="top" width="520">
				<font color="#828282" face="Arial, Helvetica, sans-serif" size="2" style="font-size:22px;">Gentile @Model.User["ut_nome"] @Model.User["ut_cognome"] (@Model.User["ut_email"]),</font>
			</td>
		</tr>
		<tr>
			<td align="left" height="50" valign="top" width="520">&nbsp;</td>
		</tr>
		<tr>
			<td align="left" valign="top" width="520">
				<p>abbiamo ricevuto la tua richiesta di iscrizione al Tiemme Club.</p>

				<p>Entrando nel Tiemme Club potrai:</p>

				<p>Accedere alla documentazione tecnica, al listino prezzi e al nuovissimo portale BIM</p>

				<p>Restare costantemente aggiornato sui prodotti di tuo interesse e ottenere l'invito ai nostri eventi</p>

				<p>Accedere ai percorsi di aggiornamento e formazione professionale Tiemme</p>

				<p>Riceverai presto la mail di benvenuto e le credenziali di accesso necessarie!</p>
				&nbsp;

				<p>SERVE ALTRO AIUTO?<br />
					Contatta il nostro Servizio Clienti</p>

				<p>&nbsp;</p>

				<p>Tiemme</p>

				<p>[icone social]</p>

				<p>www.tiemme.com</p>
			</td>
		</tr>
	</tbody>
</table>
