<section class="section--bim background--gradient-inverted">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="title"><svg class="icon icon--bim"><use xlink:href="#bim"></use></svg> <span>TIEMME è <b>Bim</b> Ready</span></div>
				<div class="abstract">
					<p>Il <b>Building Information Modeling</b> è il futuro della progettazione edilizia, contiene in modo dinamico tutte le informazioni del progetto come i materiali, i calcoli strutturali, le prestazioni energetiche e i costi.</p>
					<p>Per questo motivo scegliamo di agevolarli rendendo disponibili i nostri modelli 3d nei formati compatibili con le applicazioni BIM più diffuse.</p>
				</div>
				<div class="group--cta">
					<a href="/tiemme-com/services-bim.html" class="btn--cta"><span>Scopri il catalogo BIM</span></a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="picture picture--bim">
					<img lazy="/tiemme-com/img/products/bim.png" />
				</div>
			</div>
		</div>
	</div>
</section>
