<div club-forgot (sent)="onForgottenSent($event)" (login)="onLogin($event)">
	<div class="container" *if="!submitted">
		<form class="form" [formGroup]="form" (submit)="onSubmit()" name="form" role="form" novalidate autocomplete="off">
			<div class="title">Recupera Password</div>
			<div class="fields">
				<div control-text [control]="controls.email" label="Email"></div>
			</div>
			<div class="group--cta">
				<button type="submit" class="btn--submit">
					<span>Invia</span>
				</button>
			</div>
			<div class="group--info">
				Ricordi la password? <button type="button" class="btn--link" (click)="onLogin($event)"><span>Accedi</span></button>
			</div>
			<test-component [form]="form" (test)="test($event)" (reset)="reset($event)"></test-component>
		</form>
	</div>
	<div class="container" *if="submitted">
		<div class="title">Password Inviata</div>
		<div class="abstract">
			Abbiamo inviato la password all'indirizzo email fornito.
		</div>
		<div class="group--info">
			Torna al <button type="button" class="btn--link" (click)="onLogin($event)"><span>Login</span></button>
		</div>
	</div>
</div>
