<ul class="nav--aside">
	<li>
		<span class="label">Menu</span>
		<ul class="nav--aside-menu">
			<li><a href="/tiemme-com/club-profile.html" class="label"><span>Il mio profilo</span></a></li>
			<li><a href="/tiemme-com/club-password.html" class="label"><span>Modifica password</span></a></li>
			<!--
			<li><a href="#" class="label"><span>Vantaggi</span></a></li>
			<li><a href="#" class="label"><span>Partecipa agli eventi</span></a></li>
			-->
			<li><a href="/tiemme-com/club-price-list.html" class="label"><span>Listini</span></a></li>
			<li><span class="label" (click)="doLogout($event)"><span>Logout</span></span></li>
		</ul>
	</li>
</ul>
