<div class="club--register-or-login" register-or-login>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="title">Fai già parte del Tiemme Club?</div>
				<div class="group--cta">
					<button type="button" class="btn--submit" (click)="onLogin($event)">
						<span>Accedi</span>
					</button>
				</div>
			</div>
			<div class="col-md-6">
				<div class="title">Non fai ancora parte del Tiemme Club?<br>Entrarne a far parte è semplicissimo</div>
				<div class="group--cta">
					<button type="button" class="btn--submit" (click)="onRegister($event)">
						<span>Registrati subito</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
