<section class="section--detail">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-lg-8">
				<div class="group--content">
					<div class="abstract">
						È il più antico teatro torinese rimasto e, senza dubbio, uno dei più illustri in Italia per gli eventi che ha ospitato. Notevoli furono gli spettacoli della compagni di Carlo Goldoni, di Vittorio Alfieri, della Compagnia Reale Sarda; nel 1886 vi fece il suo debutto Arturo Toscanini e nel corso del Novecento ospitò storiche prime come il “Piacere dell’Onestà” di Pirandello.
					</div>
					<div class="description">
						<p>È il più antico teatro torinese rimasto e, senza dubbio, uno dei più illustri in Italia per gli eventi che ha ospitato. Notevoli furono gli spettacoli della compagni di Carlo Goldoni, di Vittorio Alfieri, della Compagnia Reale Sarda; nel 1886 vi fece il suo debutto Arturo Toscanini e nel corso del Novecento ospitò storiche prime come il “Piacere dell’Onestà” di Pirandello.</p>
						<p>Il grande progetto di rifunzionalizzazione del Carignano ha visto la partecipazione dell’Uffi cio Tecnico Tiemme: il miglioramento del confort generale fa parte integrante degli elementi fondamentali del restauro di un teatro. Proprio per questo è stato realizzato un impianto di Riscaldamento a Pavimento Tiemme Plus che ricopre una superfi cie di 246 m².</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 offset-lg-1">
				<div class="group--detail">
					<div class="title">Dove</div>
					<svg class="icon icon--pin"><use xlink:href="#pin"></use></svg> Torino, Italy
				</div>
				<div class="group--share">
					<div class="title">Share</div>
					<ul>
						<li>
							<a href="#"><svg class="icon icon--facebook"><use xlink:href="#facebook"></use></svg></a>
						</li>
						<li>
							<a href="#"><svg class="icon icon--linkedin"><use xlink:href="#linkedin"></use></svg></a>
						</li>
						<li>
							<a href="#"><svg class="icon icon--twitter"><use xlink:href="#twitter"></use></svg></a>
						</li>
						<li>
							<a href="#"><svg class="icon icon--whatsapp"><use xlink:href="#whatsapp"></use></svg></a>
						</li>
						<li>
							<a href="#"><svg class="icon icon--email"><use xlink:href="#email"></use></svg></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section--slides">
	<div class="swiper-container" swiper-slides>
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="inner">
					<div class="container">
						<div class="card--slide card--slide-text" zoomable>
							<div class="picture picture--slide">
								<img lazy="/tiemme-com/img/achievements/case-slide-01.jpg" />
							</div>
							<svg class="icon icon--expand"><use xlink:href="#expand"></use></svg>
							<div class="content">
								<div class="title">Teatro Carignano</div>
								<div class="description">
									<p>È il più antico teatro torinese rimasto e, senza dubbio, uno dei più illustri in Italia per gli eventi che ha ospitato. Notevoli furono gli spettacoli della compagni di Carlo Goldoni, di Vittorio Alfieri, della Compagnia Reale Sarda; nel 1886 vi fece il suo debutto Arturo Toscanini e nel corso del Novecento ospitò storiche prime come il “Piacere dell’Onestà” di Pirandello.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<div class="container">
						<div class="card--slide card--slide-text" zoomable>
							<div class="picture picture--slide">
								<img lazy="/tiemme-com/img/achievements/case-slide-02.jpg" />
							</div>
							<svg class="icon icon--expand"><use xlink:href="#expand"></use></svg>
							<div class="content">
								<div class="title">Teatro Carignano</div>
								<div class="description">
									<p>È il più antico teatro torinese rimasto e, senza dubbio, uno dei più illustri in Italia per gli eventi che ha ospitato. Notevoli furono gli spettacoli della compagni di Carlo Goldoni, di Vittorio Alfieri, della Compagnia Reale Sarda; nel 1886 vi fece il suo debutto Arturo Toscanini e nel corso del Novecento ospitò storiche prime come il “Piacere dell’Onestà” di Pirandello.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="inner">
					<div class="container">
						<div class="card--slide card--slide-text" zoomable>
							<div class="picture picture--slide">
								<img lazy="/tiemme-com/img/achievements/case-slide-03.jpg" />
							</div>
							<svg class="icon icon--expand"><use xlink:href="#expand"></use></svg>
							<div class="content">
								<div class="title">Teatro Carignano</div>
								<div class="description">
									<p>È il più antico teatro torinese rimasto e, senza dubbio, uno dei più illustri in Italia per gli eventi che ha ospitato. Notevoli furono gli spettacoli della compagni di Carlo Goldoni, di Vittorio Alfieri, della Compagnia Reale Sarda; nel 1886 vi fece il suo debutto Arturo Toscanini e nel corso del Novecento ospitò storiche prime come il “Piacere dell’Onestà” di Pirandello.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-button-prev swiper-button-white"></div>
		<div class="swiper-button-next swiper-button-white"></div>
		<div class="swiper-pagination swiper-pagination-white"></div>
	</div>
</section>
