<section class="section--dettaglio">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="intro-text">
					Dopo l’introduzione, a marzo 2017, dei raccordi a pressare serie 1650 “COBRAPRESS” Ø 75 mm, Tiemme arricchisce ulteriormente la famiglia inserendo una gamma completa di figure per tubo multistrato Ø 90 mm, in grado di aiutare l’installatore nella realizzazione di impianti idrotermosanitari sempre più performanti.
				</div>
				<div class="text">
					<p>A questo punto possiamo sicuramente affermare che la vasta gamma, la disponibilità, la qualità, il know-how e il servizio offerto, rende Tiemme il player di riferimento sul mercato per quanto riguarda il sistema multistrato.</p>
					<p>Desideri saperne di più? <a href="#" class="btn--cta link">Catalogo prodotti</a></p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="share">
					<h3 class="title">Share</h3>
					<ul>
						<li>
							<a href="#"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li>
							<a href="#"><i class="fab fa-linkedin"></i></a>
						</li>
						<li>
							<a href="#"><i class="fab fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fab fa-whatsapp"></i></a>
						</li>
						<li>
							<a href="#"><i class="fas fa-envelope"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>