<section class="section--dettaglio">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="intro-text">
					Fiera Milano RHO, 17 - 20 Marzo 2020
				</div>
				<div class="text">
					<p>Vi aspettiamo allo stand P33 R26 del padiglione 4 per presentarvi tutte le novità Tiemme.
				</div>
			</div>
			<div class="col-md-3">
				<div class="share">
					<h3 class="title">Share</h3>
					<ul>
						<li>
							<a href="#"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li>
							<a href="#"><i class="fab fa-linkedin"></i></a>
						</li>
						<li>
							<a href="#"><i class="fab fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fab fa-whatsapp"></i></a>
						</li>
						<li>
							<a href="#"><i class="fas fa-envelope"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>