<!-- footer -->
<footer class="section--footer">
	<div class="border-bottom">
		<div class="container-fluid">
			<div class="nav--colophon">
				<div class="group--colophon">
					<a href="/" class="btn--brand">© Tiemme Raccorderie S.p.A.</a>
					<div><span>Via Cavallera, 6/A - (loc. Barco) - 25045 - Castegnato (BS) - Italia</span><span>Tel. +39 030 21.42.211 - Fax: +39 030 21.42.206</span> <a href="mailto:info@tiemme.com" class="btn--link">info@tiemme.com</a></div>
					<div><span>P.Iva / CF: 02852520176 - Cap. Sociale: € 5.200.000,00 i.v.</span> <span>Registro imprese: 02852520176 - Rea: BS-298978</span></div>
				</div>
				<div class="group--social">
					<a class="btn--social">
						<svg class="icon icon--facebook"><use xlink:href="#facebook"></use></svg>
					</a>
					<a class="btn--social">
						<svg class="icon icon--youtube"><use xlink:href="#youtube"></use></svg>
					</a>
					<a class="btn--social">
						<svg class="icon icon--linkedin"><use xlink:href="#linkedin"></use></svg>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<b>Prodotti</b>
				<ul class="nav--footer">
					<li><a href="#">Componenti Idraulici</a></li>
					<li><a href="#">Rubinetti</a></li>
					<li><a href="#">Sistemi radianti</a></li>
					<li><a href="#">Centrale Termica</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<b>Media</b>
				<ul class="nav--footer">
					<li><a href="#">Brochure</a></li>
					<li><a href="#">Cataloghi</a></li>
					<li><a href="#">Video</a></li>
					<li><a href="#">Gallery realizzazioni</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<b>Comunicazione</b>
				<ul class="nav--footer">
					<li><a href="#">News</a></li>
					<li><a href="#">Eventi e Fiere</a></li>
					<li><a href="#">Il Tecnico Risponde</a></li>
					<li><a href="#">Realizzazioni</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="nav--footer">
					<li><a href="#">Azienda</a></li>
					<li><a href="#">Contatti</a></li>
				</ul>
			</div>
		</div>
		<div class="nav--credits">
			<div>Italia / italiano</div>
			<div>
				<ul class="nav--footer-horizontal">
					<li><a href="#">Sitemap</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Note Legali</a></li>
					<li><a href="#"><span>Websolute</span> <svg class="icon icon--websolute"><use xlink:href="#websolute"></use></svg></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
