<!-- footer -->
<footer class="section--footer">
	<div class="border-bottom">
		<div class="container-fluid">
			<div class="nav--colophon">
				<div class="group--colophon">
					<a href="/tiemme-com/" class="btn--brand">© Tiemme Raccorderie S.p.A.</a>
					<div><span>Via Cavallera, 6/A - (loc. Barco) - 25045 - Castegnato (BS) - Italia</span><span>Tel. +39 030 21.42.211 - Fax: +39 030 21.42.206</span> <a href="mailto:info@tiemme.com" class="btn--link">info@tiemme.com</a></div>
					<div><span>P.Iva / CF: 02852520176 - Cap. Sociale: € 5.200.000,00 i.v.</span> <span>Registro imprese: 02852520176 - Rea: BS-298978</span></div>
				</div>
				<div class="group--social">
					<a class="btn--social" href="https://www.facebook.com" target="_blank">
						<svg class="icon icon--facebook"><use xlink:href="#facebook"></use></svg>
					</a>
					<a class="btn--social" href="https://www.youtube.com" target="_blank">
						<svg class="icon icon--youtube"><use xlink:href="#youtube"></use></svg>
					</a>
					<a class="btn--social" href="https://www.linkedin.com" target="_blank">
						<svg class="icon icon--linkedin"><use xlink:href="#linkedin"></use></svg>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="flex--row">
			<div class="flex__item">
				<b>Prodotti</b>
				<ul class="nav--footer">
					<li><a href="/tiemme-com/product-radiant.html">Componenti Idraulici</a></li>
					<li><a href="/tiemme-com/product-radiant.html">Centrale Termica</a></li>
					<li><a href="/tiemme-com/product-radiant.html">Sistemi radianti</a></li>
					<li><a href="/tiemme-com/product-radiant.html">Rubinetti</a></li>
				</ul>
			</div>
			<div class="flex__item">
				<b>Media</b>
				<ul class="nav--footer">
					<li><a href="/tiemme-com/media-corporate.html">Corporate</a></li>
					<li><a href="/tiemme-com/media-catalogues.html">Cataloghi</a></li>
					<li><a href="/tiemme-com/media-technical.html">Cataloghi Tecnici</a></li>
					<li><a href="/tiemme-com/media-brochure.html">Brochure di Prodotto</a></li>
				</ul>
			</div>
			<div class="flex__item">
				<b>Comunicazione</b>
				<ul class="nav--footer">
					<li><a href="/tiemme-com/news.html">News</a></li>
					<li><a href="/tiemme-com/events.html">Eventi e Fiere</a></li>
					<li><a href="/tiemme-com/achievements.html">Realizzazioni</a> </li>
				</ul>
			</div>
			<div class="flex__item">
				<b>Servizi</b>
				<ul class="nav--footer">
					<li><a href="#">Bim</a></li>
					<li><a href="#">Experience</a></li>
					<li><a href="/tiemme-com/services-tiemme-lab.html">Tiemme Lab</a></li>
					<li><a href="/tiemme-com/services-warranty.html">Garanzia ZERO10</a></li>
				</ul>
			</div>
			<div class="flex__item">
				<b>Contatti</b>
				<ul class="nav--footer">
					<li><a href="#">Azienda</a></li>
					<li><a href="/tiemme-com/contacts-contact-us.html">Contattaci</a></li>
					<li><a href="/tiemme-com/contacts-branches.html">Filiali</a></li>
					<li><a href="/tiemme-com/contacts-agents.html">Cerca un agente</a></li>
					<li><a href="/tiemme-com/contacts-work-with-us.html">Lavora con noi</a></li>
				</ul>
			</div>
		</div>
		<div class="nav--credits">
			<div>Italia / italiano</div>
			<div>
				<ul class="nav--footer-horizontal">
					<li><a href="#"><span>Sitemap</span></a></li>
					<li><a href="#"><span>Privacy</span></a></li>
					<li><a href="#"><span>Note Legali</span></a></li>
					<li><a href="#"><span>Websolute</span> <svg class="icon icon--websolute"><use xlink:href="#websolute"></use></svg></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
