<!-- header -->
<header class="section--header">
	<div class="container-fluid">
		<!-- menu -->
		<div class="dropdown--menu" [class]="{ submenu: submenu }" *if="menu == 'main'">
			<div class="inner">
				<!-- menu liv 1 -->
				<ul class="nav--header">
					<li>
						<a href="/tiemme-com/company.html">Azienda</a>
					</li>
					<li>
						<span dropdown="1001" (dropped)="onDropped($event)">Prodotti <svg class="icon icon--caret-right"><use xlink:href="#caret-right"></use></svg></span>
					</li>
					<li>
						<span dropdown="1002" (dropped)="onDropped($event)">Media <svg class="icon icon--caret-right"><use xlink:href="#caret-right"></use></svg></span>
					</li>
					<li>
						<span dropdown="1003" (dropped)="onDropped($event)">Comunicazione <svg class="icon icon--caret-right"><use xlink:href="#caret-right"></use></svg></span>
					</li>
					<li>
						<span dropdown="1004" (dropped)="onDropped($event)">Servizi <svg class="icon icon--caret-right"><use xlink:href="#caret-right"></use></svg></span>
					</li>
					<li>
						<span dropdown="1005" (dropped)="onDropped($event)">Contatti <svg class="icon icon--caret-right"><use xlink:href="#caret-right"></use></svg></span>
					</li>
				</ul>
				<!-- menu liv 2 -->
				<ul class="nav--header" dropdown-item="1001">
					<li><a href="/tiemme-com/product-radiant.html">Componenti Idraulici</a></li>
					<li><a href="/tiemme-com/product-radiant.html">Centrale Termica</a></li>
					<li><a href="/tiemme-com/product-radiant.html">Sistemi radianti</a></li>
					<li><a href="/tiemme-com/product-radiant.html">Rubinetti</a></li>
				</ul>
				<ul class="nav--header" dropdown-item="1002">
					<li><a href="/tiemme-com/media-corporate.html">Corporate</a></li>
					<li><a href="/tiemme-com/media-catalogues.html">Cataloghi</a></li>
					<li><a href="/tiemme-com/media-technical.html">Cataloghi Tecnici</a></li>
					<li><a href="/tiemme-com/media-brochure.html">Brochure di Prodotto</a></li>
				</ul>
				<ul class="nav--header" dropdown-item="1003">
					<li><a href="/tiemme-com/news.html">News</a></li>
					<li><a href="/tiemme-com/events.html">Eventi e Fiere</a></li>
					<li><a href="/tiemme-com/achievements.html">Realizzazioni</a> </li>
				</ul>
				<ul class="nav--header" dropdown-item="1004">
					<li><a href="/tiemme-com/services-bim.html">Bim</a></li>
					<li><a href="#">Experience</a></li>
					<li><a href="/tiemme-com/services-tiemme-lab.html">Tiemme Lab</a></li>
					<li><a href="/tiemme-com/services-warranty.html">Garanzia ZERO10</a></li>
				</ul>
				<ul class="nav--header" dropdown-item="1005">
					<li><a href="/tiemme-com/contacts-contact-us.html">Contattaci</a></li>
					<li><a href="/tiemme-com/contacts-branches.html">Filiali</a></li>
					<li><a href="/tiemme-com/contacts-agents.html">Cerca un agente</a></li>
					<li><a href="/tiemme-com/contacts-work-with-us.html">Lavora con noi</a></li>
				</ul>
			</div>
		</div>
		<!-- club -->
		<div class="dropdown--menu" *if="menu == 'club'">
			<div class="inner">
				<!-- @@include ./club.html -->
			</div>
		</div>
		<div class="flex--header">
			<div class="left">
				<button type="button" class="btn--menu" [class]="{ active: menu == 'main' }" (click)="toggleMenu('main')"><span></span><span></span><span></span></button>
			</div>
			<div class="center">
				<a href="/tiemme-com/" class="brand"><img src="/tiemme-com/img/svg/logo.svg" title="Tiemme" /></a>
			</div>
			<div class="right">
				<div class="group--language">
					<button type="button" class="btn--languages" dropdown="1" (dropped)="onDropped($event)">
						<svg class="icon icon--languages"><use xlink:href="#languages"></use></svg>
						<span>IT</span>
						<svg class="icon icon--caret-down"><use xlink:href="#caret-down"></use></svg>
					</button>
					<div class="dropdown" dropdown-item="1">
						<div class="category">Languages</div>
						<ul class="nav--dropdown">
							<li><a href="#">Italiano</a></li>
							<li><a href="#">English</a></li>
							<li><a href="#">Deutsch</a></li>
						</ul>
					</div>
				</div>
				<a href="/tiemme-com/club-profile.html" class="btn--club" *if="user"><span><svg class="icon icon--user"><use xlink:href="#user"></use></svg> Tiemme Club</span></a>
				<button type="button" class="btn--club btn--icon" (click)="toggleMenu('club')" *if="!user"><svg class="icon icon--user"><use xlink:href="#user"></use></svg> <span>Tiemme Club</span></button>
			</div>
		</div>
	</div>
</header>
