<section class="section--events">
	<div class="container">
		<div class="listing--events">
			<a href="events-detail.html" class="card--event" appear>
				<div class="picture picture--news">
					<img lazy="/tiemme-com/img/events/event-01.jpg" />
					<div class="date">15 GEN 2019</div>
					<div class="status in-corso">In Corso</div>
				</div>
				<div class="content">
					<div class="title">MCE 2020</div>
					<div class="abstract">
						<p>Fiera Milano RHO, 17 - 20 Marzo 2020 Vi aspettiamo allo stand P33 R26 del padiglione 4 per presentarvi tutte le novità Tiemme.</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
			<a href="events-detail.html" class="card--event" appear>
				<div class="picture picture--news">
					<img lazy="/tiemme-com/img/events/event-02.jpg" />
					<div class="date">14 ott 2019</div>
					<div class="status terminato">Terminato</div>
				</div>
				<div class="content">
					<div class="title">Host 2019</div>
					<div class="abstract">
						<p>Fiera Milano RHO, 18 - 22 Ottobre 2019 Vi aspettiamo allo stand S47 del padiglione 11 per presentarvi tutte le novità Tiemme.</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
			<a href="events-detail.html" class="card--event" appear>
				<div class="picture picture--news">
					<img lazy="/tiemme-com/img/events/event-03.jpg" />
					<div class="date">10 set 2019</div>
					<div class="status terminato">Terminato</div>
				</div>
				<div class="content">
					<div class="title">Cersaie 2019</div>
					<div class="abstract">
						<p>Vi aspettiamo allo stand A6 del padiglione 29 per presentarvi tutte le novità Tiemme.</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
