<section class="section--news">
	<div class="container">
		<div class="listing--news">
			<a href="/tiemme-com/dettaglio-news.html" class="card--news" appear>
				<div class="picture picture--news">
					<img lazy="/tiemme-com/img/news/news-06.jpg" />
					<div class="date">11 giu 2018</div>
				</div>
				<div class="content">
					<div class="title">Raccordo a pressare serie 1650 “COBRAPRESS” per tubo multistrato Ø 90 mm</div>
					<div class="abstract">
						<p>Dopo l’introduzione, a marzo 2017, dei raccordi a pressare serie 1650 “COBRAPRESS” Ø 75 mm, Tiemme arricchisce ulteriormente la famiglia inserendo una gamma completa di figure...</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
			<a href="/tiemme-com/dettaglio-news.html" class="card--news" appear>
				<div class="picture picture--news">
					<img lazy="/tiemme-com/img/news/news-07.jpg" />
					<div class="date">10 apr 2018</div>
				</div>
				<div class="content">
					<div class="title">Miscelatori termostatici per impianti sanitari e solari art.473x e 473xSUN</div>
					<div class="abstract">
						<p>Nell’ottica di offrire un catalogo prodotti sempre più ampio e completo, Tiemme ha rivisto e incrementato la proposta di miscelatori termostatici, realizzando una nuova famiglia di articoli...</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
			<a href="/tiemme-com/dettaglio-news.html" class="card--news" appear>
				<div class="picture picture--news">
					<img lazy="/tiemme-com/img/news/news-08.jpg" />
					<div class="date">6 apr 2018</div>
				</div>
				<div class="content">
					<div class="title">Nuova gamma riduttori di pressione per impianti domestici ed industriali art.3107N - 3108N e 3110N</div>
					<div class="abstract">
						<p>Normalmente la rete di distribuzione dell’acqua presenta una pressione del fluido troppo alta e variabile che necessita, di conseguenza, di una riduzione e una stabilizzazione per poter alimentare...</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
