<section class="section--achievements section--products-related">
	<div class="container">
		<div class="group--title">
			<div class="title">Potrebbero Interessarti</div>
		</div>
		<div class="listing--achievements">
			<a href="achievements-detail.html" class="card--achievement" appear>
				<div class="picture picture--news">
					<img lazy="/tiemme-com/img/achievements/case-01.jpg" />
					<div class="location">messina, italy</div>
				</div>
				<div class="content">
					<div class="title">Castello Gallego</div>
					<div class="abstract">
						<p>Progetto: Ristrutturazione Castello Gallego Prodotto Tiemme: Progetto dell’impianto di riscaldamento a pavimento Il Castello Gallego (sec. XVII) è il simbolo architettonico della città…</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
			<a href="achievements-detail.html" class="card--achievement" appear>
				<div class="picture picture--news">
					<img lazy="/tiemme-com/img/achievements/case-02.jpg" />
					<div class="location">torino, italy</div>
				</div>
				<div class="content">
					<div class="title">Teatro Carignano</div>
					<div class="abstract">
						<p>Progetto: Rifunzionalizzazione del teatro È il più antico teatro torinese rimasto e, senza dubbio, uno dei più illustri in Italia per gli eventi che ha ospitato. Notevoli furono...</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
			<a href="achievements-detail.html" class="card--achievement" appear>
				<div class="picture picture--news">
					<img lazy="/tiemme-com/img/achievements/case-03.jpg" />
					<div class="location">brescia, italy</div>
				</div>
				<div class="content">
					<div class="title">Palazzo Biscotto</div>
					<div class="abstract">
						<p>Edificio direzionale che si articola su 8 piani fuori terra ed uno interrato. I piani fuori terra si sviluppano per circa mq 800/cad, per un totale di circa 5400 mq di s.l.p. (superficie lorda di pavimento)....</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
