<script type="text/javascript">
	window.filters = {
		departments: {
			label: 'Departments',
			placeholder: 'all departments',
			mode: 'or',
			options: [{
				label: 'Componenti Idraulici',
				value: 101,
				}, {
				label: 'Rubinetti',
				value: 102,
				}, {
				label: 'Sistemi Radianti',
				value: 103,
				}, {
				label: 'Centrale Termica',
				value: 104,
				}]
		},
		languages: {
			label: 'Languages',
			placeholder: 'all languages',
			mode: 'or',
			options: [{
				label: 'it',
				value: 201,
				}, {
				label: 'en',
				value: 202,
				}, {
				label: 'es',
				value: 203,
				}, {
				label: 'ru',
				value: 204,
				}, {
				label: 'de',
				value: 205,
				}, {
				label: 'fr',
				value: 206,
				}, {
				label: 'ro',
				value: 207,
				}, {
				label: 'sq',
				value: 208,
				}, {
				label: 'bg',
				value: 209,
				}, {
				label: 'el',
				value: 210,
				}]
		},
		categories: {
			label: 'Category',
			placeholder: 'all categories',
			mode: 'or',
			options: [{
				label: 'Corporate',
				value: 301,
				}, {
				label: 'Catalogues',
				value: 302,
				}, {
				label: 'Technical Catalogues',
				value: 303,
				}, {
				label: 'Brochures',
				value: 304,
				}]
		}
	};

	window.medias = [
		/* VIDEO MASTER */
		{
			id: 1001,
			type: 'video',
			youtubeId: 'yQWixX1Kmws',
			url: 'https://www.youtube.com/embed/yQWixX1Kmws?autoplay=1',
			title: 'Art. 1664CG - COBRAFIX',
			author: 'Tiemme Raccorderie SpA',
			date: '2016-04-22',
			views: 6452,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: '6xAqSD7CORc',
			url: 'https://www.youtube.com/embed/6xAqSD7CORc?autoplay=1',
			title: 'Art.1916 - Valvola di sicurezza TP',
			author: 'Tiemme Raccorderie SpA',
			date: '2014-09-01',
			views: 39063,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'qP_y6sLdoas',
			url: 'https://www.youtube.com/embed/qP_y6sLdoas?autoplay=1',
			title: 'Art.3175CT - Gruppo di sicurezza',
			author: 'Tiemme Raccorderie SpA',
			date: '2014-07-04',
			views: 7520,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'QMzoVIHD2fk',
			url: 'https://www.youtube.com/embed/QMzoVIHD2fk?autoplay=1',
			title: 'Art.6535G - Valvola di bilanciamento',
			author: 'Tiemme Raccorderie SpA',
			date: '2014-02-19',
			views: 17954,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'R9JM_qLKPLY',
			url: 'https://www.youtube.com/embed/R9JM_qLKPLY?autoplay=1',
			title: 'Art.5540G - Collettore modulare in ottone',
			author: 'Tiemme Raccorderie SpA',
			date: '2014-02-06',
			views: 1267,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'enC-ry5YkpQ',
			url: 'https://www.youtube.com/embed/enC-ry5YkpQ?autoplay=1',
			title: 'Art.9556 - Testa termostatica elettronica programmabile',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-12-19',
			views: 17778,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'SOsVhwfaZvE',
			url: 'https://www.youtube.com/embed/SOsVhwfaZvE?autoplay=1',
			title: 'Art.1935 - Ammortizzatore del colpo d\'ariete',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-10-01',
			views: 34117,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'g49ZPa-4hJ8',
			url: 'https://www.youtube.com/embed/g49ZPa-4hJ8?autoplay=1',
			title: 'Art.5538G - Collettore modulare in ottone',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-07-24',
			views: 2774,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'CYij3SLVz08',
			url: 'https://www.youtube.com/embed/CYij3SLVz08?autoplay=1',
			title: 'Art.5540G - Collettore modulare in ottone',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-07-24',
			views: 2032,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'K0k3wxrjqjo',
			url: 'https://www.youtube.com/embed/K0k3wxrjqjo?autoplay=1',
			title: 'Raccordi COBRASUN per TUBI CORRUGATI INOX',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-04-16',
			views: 39856,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: '10A2w1hBhKk',
			url: 'https://www.youtube.com/embed/10A2w1hBhKk?autoplay=1',
			title: 'Valvole per installazione POST CONTATORE GAS - UNI 7129 / 2008',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-02-15',
			views: 75469,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'AaGXvfwppBI',
			url: 'https://www.youtube.com/embed/AaGXvfwppBI?autoplay=1',
			title: 'Gruppi idraulici per centrale termica',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-01-07',
			views: 36692,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'Z1UDq6Ia0ZA',
			url: 'https://www.youtube.com/embed/Z1UDq6Ia0ZA?autoplay=1',
			title: 'Raccordi universali serie WATERBLOCK',
			author: 'Tiemme Raccorderie SpA',
			date: '2012-12-06',
			views: 15429,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'sQghzTn-ud4',
			url: 'https://www.youtube.com/embed/sQghzTn-ud4?autoplay=1',
			title: 'Cassette per collettori SANIBOX Art.3033-3035',
			author: 'Tiemme Raccorderie SpA',
			date: '2012-11-05',
			views: 2719,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'ga22KmSeia8',
			url: 'https://www.youtube.com/embed/ga22KmSeia8?autoplay=1',
			title: 'Sistema multistrato GAS - UNI 11343',
			author: 'Tiemme Raccorderie SpA',
			date: '2012-10-24',
			views: 17314,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'FDSihst6DDc',
			url: 'https://www.youtube.com/embed/FDSihst6DDc?autoplay=1',
			title: 'Valvola MISTRAL Art.2360',
			author: 'Tiemme Raccorderie SpA',
			date: '2012-10-12',
			views: 1772,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: '8rI1oLTMqGk',
			url: 'https://www.youtube.com/embed/8rI1oLTMqGk?autoplay=1',
			title: 'Come funziona la valvola a sfera MOTORIZZATA Art.2138 (ITA-ENG)',
			author: 'Tiemme Raccorderie SpA',
			date: '2012-09-20',
			views: 112586,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'XCb13BUytZQ',
			url: 'https://www.youtube.com/embed/XCb13BUytZQ?autoplay=1',
			title: 'Valvola a sfera MOTORIZZATA Art.2138 (ITA-ENG)',
			author: 'Tiemme Raccorderie SpA',
			date: '2012-09-05',
			views: 37589,
			category: 301,
			languages: [201],
			features: [101]
		},

		/* VIDEO RADIANTI */
		{
			id: 1001,
			type: 'video',
			youtubeId: 'qhG_8beZs5A',
			url: 'https://www.youtube.com/embed/qhG_8beZs5A?autoplay=1',
			title: 'Art.3895G - Gruppo di miscelazione per impianti radianti',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-06-27',
			views: 9437,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'Oqoi7OB9pxw',
			url: 'https://www.youtube.com/embed/Oqoi7OB9pxw?autoplay=1',
			title: 'Sistemi radianti a pavimento - CLIP',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-05-27',
			views: 85854,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'sYojtzbstCQ',
			url: 'https://www.youtube.com/embed/sYojtzbstCQ?autoplay=1',
			title: 'Sistemi radianti a pavimento - TECHNO',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-05-23',
			views: 11607,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: 'k7Ww5XN0cM4',
			url: 'https://www.youtube.com/embed/k7Ww5XN0cM4?autoplay=1',
			title: 'Art.3868G, 3868GHT - Gruppi di miscelazione e distribuzione',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-03-21',
			views: 98342,
			category: 301,
			languages: [201],
			features: [101]
		},
		/* VIDEO CONTABILIZZ */
		{
			id: 1001,
			type: 'video',
			youtubeId: 'RK6BJcwGeEA',
			url: 'https://www.youtube.com/embed/RK6BJcwGeEA?autoplay=1',
			title: 'Sistema di contabilizzazione MULTI-MODUL',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-11-11',
			views: 33146,
			category: 301,
			languages: [201],
			features: [101]
		}, {
			id: 1001,
			type: 'video',
			youtubeId: '61cZXWC9uRc',
			url: 'https://www.youtube.com/embed/61cZXWC9uRc?autoplay=1',
			title: 'Sistema di contabilizzazione SHORTY',
			author: 'Tiemme Raccorderie SpA',
			date: '2013-09-05',
			views: 4671,
			category: 301,
			languages: [201],
			features: [101]
		},
		/* CATALOGHI */
		{
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/catalogo/thumb/976_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/catalogo/thumb/976_185_250_0.png',
			title: 'Catalogo Master N. 1122',
			abstract: 'Nelle prime pagine sono presentate tutte le novità di prodotto. La proposta di Tiemme è sempre più ricca.',
			url: 'http://www.tiemme.com/catalogo_master_n_1122_catalogo_d686.pdf',
			fileSize: 45000,
			category: 302,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/catalogo/thumb/1045_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/catalogo/thumb/1045_185_250_0.png',
			title: 'Sistemi Radianti N. 2112',
			abstract: 'Scopri i nuovi sistemi radianti caldo/freddo sviluppati da Tiemme.',
			url: 'http://www.tiemme.com/sistemi_radianti_n_2112_catalogo_d1046.pdf',
			fileSize: 45000,
			category: 302,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/catalogo/thumb/1052_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/catalogo/thumb/1052_185_250_0.png',
			title: 'Catalogo Rubinetteria N. 192',
			abstract: 'Il catalogo mostra la nuova proposta RUBINETTERIA di Tiemme.',
			url: 'http://www.tiemme.com/catalogo_rubinetteria_n_192_catalogo_d1053.pdf',
			fileSize: 45000,
			category: 302,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/catalogo/thumb/1041_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/catalogo/thumb/1041_185_250_0.png',
			title: 'Catalogo Centrale Termica e Contabilizzazione N. 3104',
			abstract: 'La proposta di Tiemme è sempre più ricca.',
			url: 'http://www.tiemme.com/catalogo_centrale_termica_e_contabilizzazione_n_3104_catalogo_d1043.pdf',
			fileSize: 45000,
			category: 302,
			languages: [201],
			features: [101]
		},
		/* BROCHURE */
		{
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/996_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/996_185_250_0.png',
			title: 'Depliant Centrale Termica',
			abstract: '',
			url: 'http://www.tiemme.com/depliant_centrale_termica_brochure_d997.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1065_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1065_185_250_0.png',
			title: 'Depliant TM-MAG',
			abstract: '',
			url: 'http://www.tiemme.com/depliant_tm-mag_brochure_d1066.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1104_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1104_185_250_0.png',
			title: 'Depliant TM-MAG PLUS',
			abstract: '',
			url: 'http://www.tiemme.com/depliant_tm-mag_plus_brochure_d1105.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1135_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1135_185_250_0.png',
			title: 'Depliant TM-MAG MINI',
			abstract: '',
			url: 'http://www.tiemme.com/depliant_tm-mag_mini_brochure_d1136.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1062_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1062_185_250_0.png',
			title: 'Brochure Cobrapex',
			abstract: '',
			url: 'http://www.tiemme.com/brochure_cobrapex_brochure_d1063.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1002_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1002_185_250_0.png',
			title: 'Brochure Massetti Tiemme',
			abstract: '',
			url: 'http://www.tiemme.com/brochure_massetti_tiemme_brochure_d1003.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1056_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1056_185_250_0.png',
			title: 'Flyer Rubinetto Galleggiante',
			abstract: '',
			url: 'http://www.tiemme.com/flyer_rubinetto_galleggiante_brochure_d1057.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1053_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1053_185_250_0.png',
			title: 'Brochure Techno Graphite',
			abstract: '',
			url: 'http://www.tiemme.com/brochure_techno_graphite_brochure_d1054.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/981_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/981_185_250_0.png',
			title: 'Brochure Clip Super',
			abstract: '',
			url: 'http://www.tiemme.com/brochure_clip_super_brochure_d982.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/984_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/984_185_250_0.png',
			title: 'Brochure New Classic Graphite',
			abstract: '',
			url: 'http://www.tiemme.com/brochure_new_classic_graphite_brochure_d985.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/987_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/987_185_250_0.png',
			title: 'Brochure Ceiling Home',
			abstract: '',
			url: 'http://www.tiemme.com/brochure_ceiling_home_brochure_d988.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1005_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1005_185_250_0.png',
			title: 'Brochure Ceiling Office',
			abstract: '',
			url: 'http://www.tiemme.com/brochure_ceiling_office_brochure_d1006.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/990_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/990_185_250_0.png',
			title: 'Brochure Trattamento Aria',
			abstract: '',
			url: 'http://www.tiemme.com/brochure_trattamento_aria_brochure_d1050.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/993_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/993_185_250_0.png',
			title: 'Brochure Climav',
			abstract: '',
			url: 'http://www.tiemme.com/brochure_climav_brochure_d994.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1592_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1592_185_250_0.png',
			title: 'Brochure Bassa Inerzia Termica',
			abstract: '',
			url: 'http://www.tiemme.com/brochure_bassa_inerzia_termica_brochure_d1593.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1166_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1166_185_250_0.png',
			title: 'Serie SKY T10',
			abstract: '',
			url: 'http://www.tiemme.com/sky_t10_brochure_d1167.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1169_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1169_185_250_0.png',
			title: 'Serie SKY T30',
			abstract: '',
			url: 'http://www.tiemme.com/sky_t30_brochure_d1170.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1172_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1172_185_250_0.png',
			title: 'Serie SKY Q10',
			abstract: '',
			url: 'http://www.tiemme.com/sky_q10_brochure_d1173.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1175_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1175_185_250_0.png',
			title: 'Serie SKY Q20',
			abstract: '',
			url: 'http://www.tiemme.com/sky_q20_brochure_d1176.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1178_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1178_185_250_0.png',
			title: 'Serie FLY',
			abstract: '',
			url: 'http://www.tiemme.com/fly_brochure_d1179.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1181_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1181_185_250_0.png',
			title: 'Serie FLY ROUND',
			abstract: '',
			url: 'http://www.tiemme.com/fly_round_brochure_d1182.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1184_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1184_185_250_0.png',
			title: 'Serie SAX',
			abstract: '',
			url: 'http://www.tiemme.com/sax_brochure_d1185.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1187_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1187_185_250_0.png',
			title: 'Serie LIKE',
			abstract: '',
			url: 'http://www.tiemme.com/like_brochure_d1188.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1190_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1190_185_250_0.png',
			title: 'Serie DELTA',
			abstract: '',
			url: 'http://www.tiemme.com/delta_brochure_d1191.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1193_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1193_185_250_0.png',
			title: 'Serie GAMMA',
			abstract: '',
			url: 'http://www.tiemme.com/gamma_brochure_d1194.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1196_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1196_185_250_0.png',
			title: 'Serie TEN',
			abstract: '',
			url: 'http://www.tiemme.com/ten_brochure_d1197.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1199_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1199_185_250_0.png',
			title: 'Serie SOLIX',
			abstract: '',
			url: 'http://www.tiemme.com/solix_brochure_d1200.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1202_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1202_185_250_0.png',
			title: 'Serie K EVO',
			abstract: '',
			url: 'http://www.tiemme.com/k_evo_brochure_d1203.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}, {
			id: 1002,
			type: 'pdf',
			zoom: 'http://www.tiemme.com/_upload/brochure/thumb/1205_1200_1200_0.png',
			image: 'http://www.tiemme.com/_upload/brochure/thumb/1205_185_250_0.png',
			title: 'Serie K CLASSIC',
			abstract: '',
			url: 'http://www.tiemme.com/k_classic_brochure_d1206.pdf',
			fileSize: 45000,
			category: 304,
			languages: [201],
			features: [101]
		}
	];

</script>

<div media-library>

	<div class="sticky--menu" main-menu>
		<section class="section--menu" [class]="{ active: sticky }">
			<div class="container-fluid">
				<ul class="nav--menu nav--menu--primary">
					<li>
						<a href="/tiemme-com/media-corporate.html">
							<span>Corporate</span>
						</a>
					</li>
					<li>
						<a href="/tiemme-com/media-catalogues.html">
							<span>Cataloghi</span>
						</a>
					</li>
					<li>
						<a href="/tiemme-com/media-technical.html">
							<span>Cataloghi tecnici</span>
						</a>
					</li>
					<li>
						<a href="/tiemme-com/media-brochure.html">
							<span>Brochure</span>
						</a>
					</li>
					<li class="group--search">
						<svg class="icon icon--search"><use xlink:href="#search"></use></svg> <input class="form--control" placeholder="cerca..." />
					</li>
				</ul>
				<button type="button" class="btn--sticky" (click)="onToggleSticky($event)"><span>Media</span></button>
			</div>
		</section>
	</div>

	<section class="section--serp">
		<div class="container-fluid">
			<div class="flex--row">
				<div class="flex__item">
					<!-- filters -->
					<ul class="nav--aside">
						<li *for="let [key, filter] of filters">
							<span class="label" [innerHTML]="filter.label"></span>
							<ul class="nav--options">
								<li *for="let item of filter.options">
									<span class="label" [class]="{ active: filter.has(item), disabled: item.disabled }" (click)="filter.toggle(item)">
										<span class="name" [innerHTML]="item.label"></span>
										<span class="count" [innerHTML]="item.count || ''"></span>
									</span>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="flex__item">
					<!-- results -->
					<div class="listing listing--media">
						<div class="listing__item" *for="let item of items">
							<div class="card--video" youtube [youtubeId]="item.youtubeId" [title]="item.title" *if="item.type == 'video'" zoomable=".icon--expand" appear>
								<div class="picture picture--video" [class]="{ playing: playing }">
									<div class="video"></div>
									<div class="overlay" (click)="togglePlay($event)">
										<img [src]="cover" />
									</div>
									<div class="btn--play">
										<svg class="icon icon--play-progress-background"><use xlink:href="#play-progress"></use></svg>
										<svg class="icon icon--play-progress" viewBox="0 0 196 196">
											<path xmlns="http://www.w3.org/2000/svg" stroke-width="2px" stroke-dasharray="1" stroke-dashoffset="1" pathLength="1" stroke-linecap="square" d="M195.5,98c0,53.8-43.7,97.5-97.5,97.5S0.5,151.8,0.5,98S44.2,0.5,98,0.5S195.5,44.2,195.5,98z"/>
										</svg>
										<svg class="icon icon--play"><use xlink:href="#play"></use></svg>
										<svg class="icon icon--pause"><use xlink:href="#pause"></use></svg>
									</div>
								</div>
								<svg class="icon icon--expand"><use xlink:href="#expand"></use></svg>
								<div class="content">
									<div class="title" [innerHTML]="title"></div>
								</div>
							</div>
							<!-- appear -->
							<div class="card--pdf" *if="item.type == 'pdf'" appear>
								<div class="picture">
									<img [lazy]="item.image" />
								</div>
								<div class="content">
									<div class="title" [innerHTML]="item.title"></div>
									<div class="abstract" [innerHTML]="item.abstract" *if="item.abstract"></div>
									<div class="group--cta">
										<a [href]="item.url" class="btn--download" target="_blank" download><svg class="icon icon--download"><use xlink:href="#download"></use></svg> <span>Scarica il catalogo in formato pdf</span></a>
									</div>
									<div class="size">
										<svg class="icon icon--insights"><use xlink:href="#insights"></use></svg>
										<span [innerHTML]="item.fileSize | fileSize"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
