<script type="text/javascript">
	window.naturalForm = {
		role: {
			label: 'Sono un',
			placeholder: 'Seleziona',
			options: [
				{ id: "Agenzia", name: "Agenzia" },
				{ id: "Azienda servizi pubblici", name: "Azienda servizi pubblici" },
				{ id: "Distributore", name: "Distributore" },
				{ id: "Ente Pubblico", name: "Ente Pubblico" },
				{ id: "Filiale Tiemme", name: "Filiale Tiemme" },
				{ id: "GDO", name: "GDO" },
				{ id: "Grossista", name: "Grossista" },
				{ id: "Gruppo d'acquisto", name: "Gruppo d'acquisto" },
				{ id: "Impresa di costruzioni", name: "Impresa di costruzioni" },
				{ id: "Installatore", name: "Installatore" },
				{ id: "OEM", name: "OEM" },
				{ id: "Studi professionali", name: "Studi professionali" },
				{ id: "Altro", name: "Altro" },
			]
		},
		action: {
			label: 'E Vorrei',
			placeholder: 'Seleziona',
			options: [
				{ id: 1, name: "Richiedere informazioni", phrase: "Sono un $role$ e vorrei $action$ riguardo a $interest$ $newsletter$ comunicazioni dal $club$" },
				{ id: 2, name: "Essere contattato", phrase: "Sono un $role$ e vorrei $action$ riguardo a $interest$ $newsletter$ comunicazioni dal $club$" },
				{ id: 3, name: "Rimanere informato", phrase: "Sono un $role$ e vorrei $action$ riguardo a $interest$ e ricevere comunicazioni dal $club$" },
				{ id: 4, name: "Iscrivermi al Club", phrase: "Sono un $role$ e vorrei $action$ $newsletter$ comunicazioni dal $club$" },
			]
		},
		interest: {
			label: 'Riguardo a',
			placeholder: 'Seleziona',
			multiple: true,
			options: [
				{ id: 1, name: "Componenti Idraulici" },
				{ id: 2, name: "Centrale Termica" },
				{ id: 3, name: "Sistemi Radianti" },
				{ id: 4, name: "Rubinetti" },
			]
		},
		newsletter: {
			label: 'Club Tiemme',
			placeholder: 'Seleziona',
			options: [
				{ id: 1, name: "E non ricevere" },
				{ id: 2, name: "E ricevere" },
			]
		},
		club: {
			label: 'Club Tiemme',
			profileUrl: '/tiemme-com/club-profile.html',
			modalUrl: '/it/club-modal',
		}
	};

</script>

<section class="section--natural-form" natural-form>
	<div class="container" *if="view == views.NATURAL">
		<div natural-form-search (club)="onClub($event)">
			<div class="content"></div>
		</div>
		<div class="group--cta">
			<button type="button" class="btn--back" [class]="{ disabled: values.action == undefined }" (click)="onNext($event)"><span>Prosegui</span></button>
		</div>
	</div>
	<div *if="view == views.TECHNICAL || view == views.COMMERCIAL">
		<!-- @@include ./natural-form-contact.html -->
	</div>
	<div *if="view == views.NEWSLETTER">
		<!-- @@include ./natural-form-newsletter.html -->
	</div>
	<div *if="view == views.CLUB">
		<!-- @@include ./natural-form-signup.html -->
	</div>
</section>

<section class="section--intro">
	<div class="container">
		<div class="title"><span>I Vantaggi del club TIEMME</span></div>
	</div>
</section>

<section class="section--advantages">
	<div class="container">
		<ul class="nav--slides">
			<li><span><svg class="icon icon--tiemme-lab"><use xlink:href="#tiemme-lab"></use></svg> Accesso esclusivo al listino prezzie al centro formazione Tiemme LAB</span></li>
			<li><span><svg class="icon icon--guides"><use xlink:href="#guides"></use></svg> Ricevere guide di settore e consigli di professionisti</span></li>
			<li><span><svg class="icon icon--insights"><use xlink:href="#insights"></use></svg> Ricevere approfondimenti sui prodotti di tuo interesse</span></li>
		</ul>
	</div>
</section>
