<section class="section--news">
	<div class="container">
		<div class="group--title">
			<div class="title">Ultime novità</div>
			<a href="#" class="btn--category"><span>Tutte le news</span></a>
		</div>
		<div class="listing--news">
			<a href="#" class="card--news" appear>
				<div class="picture picture--news">
					<img lazy="/img/news/news-01.jpg" />
					<div class="date">Ott 2019</div>
				</div>
				<div class="content">
					<div class="title">Un nuovo progetto con il Pannello isolante new graphite per sistemi radianti a pavimento</div>
					<div class="abstract">
						<p>Brestak village, Varna area - Bulgaria. Il nostro nuovo progetto con TIEMME New Classic graphite system and Al-Cobrapress system.</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
			<a href="#" class="card--news" appear>
				<div class="picture picture--news">
					<img lazy="/img/news/news-02.jpg" />
					<div class="date">Feb 2019</div>
				</div>
				<div class="content">
					<div class="title">TIEMME al MCE 2019</div>
					<div class="abstract">
						<p>Brestak village, Varna area - Bulgaria. Il nostro nuovo progetto con TIEMME New Classic graphite system and Al-Cobrapress system.</p>
						<button type="button" class="btn--link"><span>dettaglio</span></button>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
