<div class="sticky--menu" main-menu>
	<section class="section--menu" [class]="{ active: sticky }">
		<div class="container-fluid">
			<ul class="nav--menu nav--menu--primary">
				<li>
					<a href="/tiemme-com/product-radiant.html">
						<svg class="icon icon--valves"><use xlink:href="#valves"></use></svg>
						<span>Componenti Idraulici</span>
					</a>
				</li>
				<li>
					<a href="/tiemme-com/product-radiant.html">
						<svg class="icon icon--thermo"><use xlink:href="#thermo"></use></svg>
						<span>Centrale Termica</span>
					</a>
				</li>
				<li>
					<a href="/tiemme-com/product-radiant.html">
						<svg class="icon icon--radiant"><use xlink:href="#radiant"></use></svg>
						<span>Sistemi Radianti</span>
					</a>
				</li>
				<li>
					<a href="/tiemme-com/product-radiant.html">
						<svg class="icon icon--taps"><use xlink:href="#taps"></use></svg>
						<span>Rubinetti</span>
					</a>
				</li>
				<li class="group--search">
					<svg class="icon icon--search"><use xlink:href="#search"></use></svg> <input class="form--control" placeholder="cerca..." />
				</li>
			</ul>
			<button type="button" class="btn--sticky" (click)="onToggleSticky($event)"><span>Prodotti</span></button>
		</div>
	</section>
</div>
