<section class="section--form background--tertiary" request-info-commercial>
	<div class="container" *if="!success">
		<div class="section--slides__title">Richiesta Informazioni</div>
		<form class="form" [formGroup]="form" (submit)="onSubmit()" name="form" role="form" novalidate autocomplete="off">
			<div class="listing--form">
				<input name="checkField" [formControl]="controls.checkField" value="" type="text" style="display:none !important;" />
				<div control-text [control]="controls.firstName" label="Nome"></div>
				<div control-text [control]="controls.lastName" label="Cognome"></div>
				<div control-text [control]="controls.email" label="Email"></div>
				<div control-text [control]="controls.company" label="Azienda"></div>
				<div control-custom-select [control]="controls.role" label="Ruolo"></div>
				<div control-custom-select [control]="controls.interests" label="Area di interesse"></div>
				<div control-custom-select [control]="controls.country" label="Nazione"></div>
				<div control-custom-select [control]="controls.province" label="Provincia"></div>
				<div control-textarea [control]="controls.message" label="Messaggio"></div>
				<div control-checkbox [control]="controls.privacy" label="Ho letto l&amp;#39;&amp;lt;a href=&amp;quot;/it/azienda/pagineinterne/informativa_sulla_privacy/&amp;quot; target=&amp;quot;_blank&amp;quot;&gt;informativa&amp;lt;/a&gt; e do il consenso al trattamento del dato"></div>
				<div control-checkbox [control]="controls.newsletter" label="Voglio iscrivermi alla newsletter TIEMME"></div>
			</div>
			<div class="group--error" *if="error">
				<span class="status-code" [innerHTML]="error.statusCode"></span>
				<span class="status-message" [innerHTML]="error.statusMessage"></span>
				<span class="friendly-message" [innerHTML]="error.friendlyMessage"></span>
			</div>
			<div class="group--cta">
				<button type="submit" class="btn--submit">
					<span *if="!form.submitted">Invia</span>
					<span *if="form.submitted">Inviato!</span>
				</button>
			</div>
			<test-component [form]="form" (test)="test($event)" (reset)="reset($event)"></test-component>
		</form>
	</div>
	<div class="container" *if="success">
		<div class="section--slides__title">Richiesta Inviata</div>
		<div class="abstract">
			Grazie per averci contattato. La tua richiesta è stata inviata correttamente.
		</div>
	</div>
</section>
