<div class="sticky--menu" main-menu>
	<section class="section--menu" [class]="{ active: sticky }">
		<div class="container-fluid">
			<ul class="nav--menu nav--menu--primary">
				<li>
					<a href="/tiemme-com/services-bim.html" class="<!--@@var=a-->">
						<span>BIM</span>
					</a>
				</li>
				<li>
					<a href="/tiemme-com/events.html" class="<!--@@var=b-->">
						<span>Experience</span>
					</a>
				</li>
				<li>
					<a href="/tiemme-com/services-tiemme-lab.html" class="<!--@@var=c-->">
						<span>Tiemme Lab</span>
					</a>
				</li>
				<li>
					<a href="/tiemme-com/services-club-tiemme.html" class="<!--@@var=d-->">
						<span>Tiemme Club</span>
					</a>
				</li>
				<li>
					<a href="/tiemme-com/services-warranty.html" class="<!--@@var=e-->">
						<span>Garanzia ZERO10</span>
					</a>
				</li>
				<li class="group--search">
					<svg class="icon icon--search"><use xlink:href="#search"></use></svg> <input class="form--control" placeholder="cerca..." (keyup)="$event.keyCode == 13 && onSearch('/tiemme-com/search.html', $event.target.value)" />
				</li>
			</ul>
			<button type="button" class="btn--sticky" (click)="onToggleSticky($event)"><span>Comunicazione</span></button>
		</div>
	</section>
</div>
