<section class="section--technician background--gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-6 o-2">
				<div class="picture picture--technician">
					<img lazy="/tiemme-com/img/technician/technician.png" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="card--preview">
					<a href="/tiemme-com/technician.html" class="category"><svg class="icon icon--bullet"><use xlink:href="#bullet"></use></svg> Il Tecnico Risponde</a>
					<div class="title">“Come fare il Calcolo dispersioni di un impianto a pavimento per ville a schiera a due piani?„</div>
					<div class="abstract">
						<p>Nella progettazione di un impianto di riscaldamento a pavimento oltre a stabilire la potenza termica radiante volta all’ambiente abitativo, si deve considerare anche la quantità di calore che viene dispersa verso il piano inferiore.</p>
						<p>Una delle prove che il tecnico dell’impresa deve effettuare per valutare l’efficienza del pannello radiante è quello di misurare la temperatura sul soffitto che deve essere di circa -3°C rispetto alla temperatura ambiente...</p>
					</div>
					<div class="group--cta">
						<button type="button" class="btn--link"><span>leggi di più</span></button>
					</div>
					<div class="group--cta">
						<a href="/tiemme-com/download/855. P.S. termici zone di montagna.pdf" target="_blank" download class="btn--link"><span>leggi di più</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
