<!-- @@include ./_json_data.html -->

<section class="section--form background--tertiary" work-with-us>
	<div class="container">
		<div class="section--slides__title">Inviaci il tuo curriculum</div>
		<form class="form" [formGroup]="form" (submit)="onSubmit()" name="form" role="form" novalidate autocomplete="off">
			<div class="listing--form">
				<div control-text [control]="controls.firstName" label="Nome"></div>
				<div control-text [control]="controls.lastName" label="Cognome"></div>
				<div control-text [control]="controls.email" label="Email"></div>
				<div control-text [control]="controls.telephone" label="Telefono"></div>
				<div control-checkbox [control]="controls.experience" label="Esperienza di lavoro all\'estero"></div>
				<div control-text [control]="controls.company" label="Dove"></div>
				<div control-custom-select [control]="controls.department" label="Area di interesse"></div>
				<div control-textarea [control]="controls.introduction" label="Presentazione"></div>
				<div control-checkbox [control]="controls.privacy" label="Consenso al trattamento del dato"></div>
				<div control-file [control]="controls.curricula" label="CV Allegato"></div>
			</div>
			<div class="group--cta">
				<button type="submit" class="btn--submit">
					<span *if="!form.submitted">Invia</span>
					<span *if="form.submitted">Inviato!</span>
				</button>
			</div>
			<div class="group--form--results">
				<code [innerHTML]="form.value | json"></code>
				<button type="button" class="btn--link" (click)="test($event)"><span>test</span></button>
			</div>
		</form>
	</div>
</section>
