.section--club {
	width: 100%;
	max-height: 100%;

	.title {
		@extend %subtitle;
	}

	.subtitle {
		@extend %subtitle-detail;
	}

	.left {
		padding: 50px 0;
		background: white;
		@include scrollbar();
	}

	.group--advantage {
		display: flex;
		margin-bottom: 20px;

		svg {
			width: 30px;
			height: 30px;
			margin-right: 36px;
		}

		.icon--tiemme-lab {
			width: 36px;
			height: 36px;
			margin-right: 30px;
		}

	}

	@include media-up(md) {

		.left,
		.right {
			padding: 50px 35px;
		}

		.left {
			max-height: calc(100vh - 180px); // Fallback for browsers that do not support Custom Properties
			max-height: calc(var(--vh, 1vh) * 100 - 180px);
			overflow-x: hidden;
			overflow-y: auto;
			@include scrollbar();
		}
	}

	@include media-down(sm) {

		.left,
		.right {
			width: calc(100% - 20px);
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 40px;
		}

		.left {
			max-height: none;
			overflow: visible;
		}

		.right {
			.container {
				padding: 0;
			}
		}
	}

}

.text--center {
	text-align: center;

	.group--cta {
		display: flex;
		justify-content: center;
		margin: 20px auto 0 auto;
	}
}

.section--advantages {

	.container {
		max-width: 1100px;
	}

	svg {
		flex: 0 0 30px;
		width: 30px;
		height: 30px;
		margin-right: 36px;
	}

	.red {
		color: $foreground-primary;
	}

	.icon--tiemme-lab {
		flex: 0 0 36px;
		width: 36px;
		height: 36px;
		margin-right: 30px;
	}

	.flex--table {
		&>.flex--row {
			border: 2px solid rgba(22, 37, 91, .2);
			padding: 60px 20px;
			margin: 0 0 40px;

			&>.flex--item {
				.content {
					max-width: 580px;
				}

				& .content+.content {
					margin-top: 30px;
				}

				.title {
					font-family: $font-secondary;
					text-transform: uppercase;
					line-height: 1;
					margin-bottom: 1em;
				}

				.subtitle {
					font-family: $font-secondary;
					text-transform: uppercase;
					line-height: 1;
					margin-bottom: 0.5em;
				}

				p {
					margin: 0 0 1em 0;
				}
			}
		}
	}

	@include media-up(sm) {
		.flex--table {
			&>.flex--row {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;

				&>.flex--item {
					&:first-child {
						flex: 1 0 30%;
						padding-right: 40px;
					}

					&:last-child {
						flex: 1 0 70%;
						padding-right: 40px;
					}

					.title {
						font-size: 30px;
					}

					.subtitle {
						font-size: 30px;
					}
				}
			}
		}
	}

	@include media-up(md) {
		.flex--table {
			&>.flex--row {
				&>.flex--item {
					&:first-child {
						flex: 1 0 400px;
						padding-right: 40px;
					}

					&:last-child {
						flex: 1 0 calc(100% - 400px);
						padding-right: 40px;
					}

					.title {
						font-size: 36px;
					}

					.subtitle {
						font-size: 36px;
					}

				}
			}
		}
	}

	@include media-down(xs) {
		.flex--table {
			&>.flex--row {
				padding: 20px;

				&>.flex--item {
					.title {
						font-size: 36px;
					}

					.subtitle {
						font-size: 26px;
					}
				}
			}
		}
	}

	.nav--figures {
		display: inline-block;

		li {
			/*
			margin: 0 0 20px;
			background: $background-tertiary;
			text-align: center;
			justify-content: center;
			padding: 8px 30px;
			border-radius: 30px;
			*/
			margin: 0 0 2px;
			background: $background-tertiary;
			justify-content: flex-start;
			padding: 5px 40px 0 20px;
		}

		@include media-down(sm) {
			display: flex;
			flex-wrap: wrap;

			li {
				margin: 0 9px 7px 0;
				background: #f3f4f6;
				text-align: center;
				justify-content: center;
				padding: 7px 23px 6px 12px;
				border-radius: 30px;
			}

			.icon {
				width: 20px;
				height: 25px;
				margin-right: 5px;
			}
		}
	}

}

.club--register-or-login {
	margin-bottom: 40px;

	.container {
		max-width: 1100px;
	}

	.row {
		align-items: stretch;

		&>div {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}

	.title {
		@extend %subtitle-detail;
	}

	.group--cta {
		margin-bottom: 40px;
	}

}
