.section--club {
	width: 100%;
	max-height: 100%;

	.title {
		@extend %subtitle;
	}

	.left {
		padding: 50px 0;
		background: white;
		@include scrollbar();
	}

	.group--advantage {
		display: flex;
		margin-bottom: 30px;

		svg {
			width: 30px;
			height: 30px;
			margin-right: 36px;
		}

		.icon--tiemme-lab {
			width: 36px;
			height: 36px;
			margin-right: 30px;
		}

	}

	@include media-up(md) {

		.left,
		.right {
			padding: 50px 35px;
		}

		.left {
			max-height: calc(100vh - 240px);
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	@include media-down(sm) {

		.left,
		.right {
			margin-bottom: 40px;
		}

		.left {
			max-height: none;
			overflow: visible;
		}

		.right {
			.container {
				padding: 0;
			}
		}
	}

}

.text--center {
	text-align: center;

	.group--cta {
		display: flex;
		justify-content: center;
		margin: 20px auto 0 auto;
	}
}
