.section--listing {
	padding: 0 0 80px 0;
}

.section--news {
	padding: 80px 0;

	.listing--news {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		@include media-up(lg) {
			$gutter: 30px;
			margin-left: - $gutter / 2;
			margin-right: - $gutter / 2;

			.card--news {
				@include as-col(4, 12, $gutter);
			}
		}

		@include media-down(md) {
			$gutter: 30px;
			margin-left: - $gutter / 2;
			margin-right: - $gutter / 2;

			.card--news {
				@include as-col(6, 12, $gutter);
			}
		}

		@include media-down(xs) {
			.card--news {
				@include as-col(12, 12, 0);
			}
		}
	}
}

.section--events {
	padding: 80px 0;

	.listing--events {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		@include media-up(lg) {
			$gutter: 30px;
			margin-left: - $gutter / 2;
			margin-right: - $gutter / 2;

			.card--event {
				@include as-col(4, 12, $gutter);
			}
		}

		@include media-down(md) {
			$gutter: 30px;
			margin-left: - $gutter / 2;
			margin-right: - $gutter / 2;

			.card--event {
				@include as-col(6, 12, $gutter);
			}
		}

		@include media-down(xs) {
			.card--event {
				@include as-col(12, 12, 0);
			}
		}
	}
}

.section--achievements {
	padding: 80px 0;

	.listing--achievements {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		@include media-up(lg) {
			$gutter: 30px;
			margin-left: - $gutter / 2;
			margin-right: - $gutter / 2;

			.card--achievement {
				@include as-col(4, 12, $gutter);
			}
		}

		@include media-down(md) {
			$gutter: 30px;
			margin-left: - $gutter / 2;
			margin-right: - $gutter / 2;

			.card--achievement {
				@include as-col(6, 12, $gutter);
			}
		}

		@include media-down(xs) {
			.card--achievement {
				@include as-col(12, 12, 0);
			}
		}
	}
}

.section--products {
	padding: 80px 0;
	position: relative;
	z-index: 1;

	.listing--products {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.card--product {
			margin-bottom: 40px;
		}

		@include media-up(lg) {
			$gutter: 30px;
			margin-left: - $gutter / 2;
			margin-right: - $gutter / 2;

			.card--product {
				@include as-col(4, 12, $gutter);
			}
		}

		@include media-down(md) {
			$gutter: 30px;
			margin-left: - $gutter / 2;
			margin-right: - $gutter / 2;

			.card--product {
				@include as-col(6, 12, $gutter);
			}
		}

		@include media-down(xs) {
			.card--product {
				@include as-col(12, 12, 0);
			}
		}
	}
}
