.section--listing {
	padding: 0 0 80px 0;
}

@mixin cols($size, $columns: $grid-columns, $gutter: 40px) {
	flex: 0 0 calc(#{percentage($size / $columns)} - #{$gutter});
	// Add a `max-width` to ensure content within each column does not blow out
	// the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
	// do not appear to require this.
	max-width: percentage($size / $columns);
}

.section--news {
	padding: 80px 0;

	.listing--news {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@include media-breakpoint-up(lg) {
			.card--news {
				@include cols(5, 12, 20px);
			}
		}

		@include media-breakpoint-down(md) {
			.card--news {
				@include cols(6, 12, 20px);
			}
		}

		@include media-breakpoint-down(xs) {
			.card--news {
				@include cols(12, 12, 0px);
			}
		}
	}
}

.section--products {
	padding: 80px 0;

	.listing--products {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.card--product {
			max-width: 40.17857%;
			flex: 1 1 40.17857%;
			margin-bottom: 80px;
			z-index: 1;
		}
	}
}
