.section--serp {
	position: relative;
	padding: 80px 0;

	.flex__item {
		&:first-child {
			flex: 1 0 270px;
		}

		&:last-child {
			flex: 1 0 calc(100% - 300px);
			margin-left: 30px;
		}
	}

	@include media-down(sm) {
		padding: 40px 0;
	}
}

.listing--media {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	.listing__item {
		margin-bottom: 30px;
	}

	@include media-up(md) {
		$gutter: 30px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;

		.listing__item {
			@include as-col(6, 12, $gutter);
		}
	}

	@include media-up(lg) {
		$gutter: 30px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;

		.listing__item {
			@include as-col(4, 12, $gutter);
		}
	}

	@include media-down(sm) {
		.listing__item {
			@include as-col(12, 12, 0);
		}
	}

	.card--video {
		.icon--expand {
			width: 17px;
			height: 18px;
			top: 15px;
			right: 15px;
		}
	}

	.btn--play {
		width: 100px;
		height: 100px;

		.icon--play-progress,
		.icon--play-progress-background {
			width: 100px;
			height: 100px;
		}

		.icon--play,
		.icon--pause {
			width: 20px;
			height: 20px;
			margin-left: -9px;
			margin-top: -9px;
		}

		@include media-down(md) {
			width: 100px;
			height: 100px;

			.icon--play-progress,
			.icon--play-progress-background {
				width: 100px;
				height: 100px;
			}
		}
	}
}
