.section--natural-form {
	padding: 80px 0;
	background-color: $background-tertiary;

	.group--cta {
		display: flex;
		justify-content: center;
		margin: 40px 0 0 0;
	}
}

.natural-form-search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-family: $font-secondary;
	font-size: 50px;
	line-height: 1;
	text-transform: uppercase;

	.content {
		text-align: center;
	}

	.btn--club-form {
		margin: 10px 0;

		span {
			line-height: 1;
			vertical-align: top;
		}

	}
}

.natural-form__control {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 10px 0;

	&>span {
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		padding: 10px 15px;
		font-family: $font-secondary;
		font-size: 50px;
		line-height: 1;
		font-weight: 500;
		text-align: left;
		text-transform: uppercase;
		background: $background-secondary;
		color: $foreground;
	}

	.icon--caret-right {
		margin-left: 10px;
		fill: $foreground;
	}

	.dropdown {
		text-align: left;
	}

	@include media-up(lg) {
		.dropdown {
			left: 100%;
		}
	}

	@include media-down(md) {
		.dropdown {
			min-width: 100%;
			left: 0;
			top: 65px;
		}
	}

}

.btn--club-form {
	@extend %btn;
	display: inline-block;

	span {
		display: inline-block;
		padding: 13px 30px;
		font-size: 24px;
		line-height: 1;
		font-weight: $font-medium;
		border: none;
		font-family: $font-secondary;
		text-transform: uppercase;
		transition: all ease-in-out .2s;
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		span {
			background: $background-primary;
			color: $foreground-negative;
			transition: all ease-in-out .2s;
		}
	}
}


.nav--dropdown {
	&.multiple {
		&>li {

			&>a,
			&>span {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				&:before {
					content: '';
					display: block;
					flex: 0 0 8px;
					width: 8px;
					height: 8px;
					margin: 0 8px 0 -20px;
					border: 2px solid $foreground;
				}

				&.active {
					&:before {
						background: $foreground;
					}
				}
			}
		}
	}
}
