.section--natural-form {
	padding: 80px 0;
	background-color: $background-tertiary;

	.group--cta {
		margin: 40px 0 0 0;
		display: flex;
		justify-content: center;
	}

	.section--form {
		padding: 0;
	}

	@include media-down(sm) {
		.group--cta {
			flex-direction: column;
		}
	}
}

.natural-form-search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-family: $font-secondary;
	font-size: 50px;
	line-height: 1;
	text-transform: uppercase;

	.content {
		text-align: center;
	}

	.btn--club-form {
		margin: 10px 0;

		span {
			line-height: 1;
			vertical-align: top;
		}
	}

	@include media-down(sm) {
		font-size: 27px;

		.natural-form__control {
			margin: 5px 0;

			&>span {
				padding: 8px 9px;
				font-size: 27px;
				text-align: center;
			}
		}
	}

}

.natural-form__control {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 10px 0;

	&>span {
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		padding: 10px 15px;
		font-family: $font-secondary;
		font-size: 50px;
		line-height: 1;
		font-weight: 500;
		text-align: left;
		text-transform: uppercase;
		background: $background-secondary;
		color: $foreground;
	}

	.icon--caret-right {
		margin-left: 10px;
		fill: $foreground;
	}

	.dropdown {
		text-align: left;
	}

	@include media-up(lg) {
		.dropdown {
			left: 100%;
		}
	}

	@include media-down(md) {
		.dropdown {
			min-width: 100%;
			left: 0;
			top: 100%;
		}
	}

}

.btn--club-form {
	@extend %btn;
	display: inline-block;

	span {
		display: inline-block;
		padding: 13px 30px;
		font-size: 24px;
		line-height: 1;
		font-weight: $font-medium;
		border: none;
		font-family: $font-secondary;
		text-transform: uppercase;
		transition: all ease-in-out .2s;
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		span {
			background: $background-primary;
			color: $foreground-negative;
			transition: all ease-in-out .2s;
		}
	}
}

.section--advantages {

	svg {
		fill: $foreground;
		flex: 0 0 30px;
		width: 30px;
		height: 30px;
		margin-right: 36px;
	}

	.icon--tiemme-lab {
		flex: 0 0 36px;
		width: 36px;
		height: 36px;
		margin-right: 30px;
	}

}
