.section--menu {
	position: absolute;
	top: 0;
	width: 100%;
}

.icon--background {
	display: none; // !!!
	position: absolute;

	@include media-up(md) {
		width: 30vw;
		height: 30vw;
		right: 0;
		margin-top: 150px;
		fill: rgba(#16255b, 0.1);
	}

	@include media-down(sm) {
		width: 100vw;
		height: 100vw;
		left: -15vw;
		margin-top: 0;
		fill: rgba(22, 37, 91, .05);
	}
}

.section--products {
	&>.container>.title {
		font-family: $font-secondary;
		font-size: 20px;
		line-height: 1;
		font-weight: $font-medium;
		text-align: center;
		text-transform: uppercase;
		margin: 40px 0;
	}
}

.section--dimensions {
	padding-bottom: 80px;
	font-size: 17px;
	line-height: 32px;

	@include media-down(sm) {
		padding-bottom: 40px;
	}
}

/*
.section--codes {
	// padding-bottom: 80px; !!! rimosso
	font-size: 15px;
	line-height: 1;

	&__title {
		@extend %category;
		margin-bottom: 30px;
	}

	@include media-down(sm) {
		padding-bottom: 40px;

		.container {
			padding: 0;
		}

		&__title {
			padding: 0;
		}
	}

}

.section--technical-sheet {
	// padding-bottom: 80px; !!! rimosso
	font-size: 15px;
	line-height: 1;

	&__title {
		@extend %category;
		margin-bottom: 30px;
	}

	@include media-down(sm) {
		padding-bottom: 40px;

		&__title {
			padding: 0;
		}
	}
}

.section--certifications {
	padding: 0 0 50px 0;

	.group--cta {
		&>.btn--cta {
			margin-bottom: 10px;
		}
	}

	.btn--cta {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__title {
		@extend %category;
		margin-bottom: 30px;
	}

	@include media-down(sm) {
		.group--cta {
			&>.btn--cta {
				display: block;
			}
		}

		&__title {
			margin: 15px 0 10px 0;
		}
	}
}

.section--downloads {
	margin-bottom: 60px;

	.group--downloads {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__title {
			@extend %category;
			flex: 0 0 160px;
		}

		[control-custom-select] {
			flex: 1 1 auto;
			margin-left: 10px;

			.dropdown {
				top: 76px;
				left: 0;
			}

			.control--select {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: calc(100vw - 225px);
			}
		}

		.btn--download {
			flex: 0 0 110px;
			min-width: 110px;
			margin-left: 20px;
		}

		@include media-up(lg) {
			&__title {
				flex: 0 0 23%;
				min-width: 23%;
			}
		}

		@include media-down(sm) {
			&__title {
				display: none;
			}
		}
	}
}
*/

.group--register-or-login {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 40px 0;
	font-size: 14px;

	.btn--cta {
		white-space: nowrap;
		margin: 0 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	@include media-down(sm) {
		display: block;
		text-align: center;
	}
}

.section--related {
	padding: 80px 0;

	&__title {
		@extend %category;
		margin-bottom: 30px;
	}

	@include media-down(sm) {
		padding: 40px 0;

		&__title {
			padding: 0 30px;
		}

		.card--product {
			margin-bottom: 40px;
		}
	}
}

.section--catalogue {
	padding: 80px 0;

	.title {
		font-size: 50px;
		line-height: 0.85;
		font-family: $font-secondary;
		text-transform: uppercase;
		margin-bottom: 30px;

		small {
			display: inline-block;
			font-size: 26px;
			line-height: 1;
			margin-top: 10px;
		}

	}

	@include media-down(sm) {
		padding: 40px 0;
	}
}

.card--catalogue {
	width: 378px;
	cursor: pointer;

	.picture--catalogue {
		@include aspect-flex(378, 266);
		max-width: 100%;
		margin-bottom: 25px;
		background: rgb(255, 255, 255);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(185, 189, 205, 1) 100%);
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b9bdcd',GradientType=0 );
		box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.2);

		.category {
			font-size: 29px;
			line-height: 1;
			font-weight: $font-medium;
			font-family: $font-secondary;
			text-transform: uppercase;
		}

		.name {
			font-size: 40px;
			line-height: 1;
			font-weight: $font-bold;
			font-family: $font-secondary;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		img {
			width: 175px;
			height: 30px;
		}
	}

	&,
	&:active,
	&:visited {
		.btn--link {
			color: $foreground;
		}
	}

	&:focus,
	&:hover {
		.btn--link {
			background: $foreground;
			color: $foreground-negative;
		}
	}

	@include media-down(xs) {
		width: 100%;
		margin-bottom: 40px;

		.picture--catalogue {
			margin-bottom: 15px;

			.category {
				font-size: 19px;
			}

			.name {
				font-size: 26px;
				margin-bottom: 12px;
			}

			img {
				width: 175px * 0.8;
				height: 30px * 0.8;
			}
		}
	}
}
