.section--technician {
	padding: 80px 0 0 0;

	.row {
		align-items: flex-end;
	}

	.picture--technician {
		margin: 0 auto;
		width: 310px;
		height: 550px;
		background: transparent;
	}

	.category {
		@extend %category;
		margin-bottom: 20px;
	}

	.title {
		@extend %title;
		margin-bottom: 30px;
	}

	.abstract {
		@extend %abstract;
	}

	.group--cta {
		margin-bottom: 80px;
	}

	@include media-down(sm) {
		padding: 40px 0 0 0;

		.picture--technician {
			max-width: 100%;
			height: auto;
		}

		.group--cta {
			margin-bottom: 40px;
		}
	}

}
