.section--form {
	padding: 80px 0;

	&__title {
		font-family: $font-secondary;
		font-size: 40px;
		line-height: 1;
		font-weight: $font-medium;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;

		@include media-down(md) {
			font-size: 21px;
		}
	}

	form>.group--cta {
		@include media-up(sm) {
			display: flex;
			justify-content: space-between;
		}
	}

}
