button {
	font: inherit;
}

%btn {
	display: inline-block;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	appearance: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	// transition: ease-in-out 350ms;
	// transition-property: background-color, color, border, opacity;

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: inherit;
		text-decoration: none;
		outline: none;
	}

	/*
	&:hover {
		box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.15);
	}
	*/

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}

a,
button,
.btn {
	@extend %btn;
}

.btn--link {
	@extend %btn;
	display: inline-block;

	span {
		display: inline-block;
		padding: 4px;
		font-size: 16px;
		line-height: 1;
		font-weight: $font-semibold;
		border: none;
		transition: all ease-in-out .2s;
	}

	&,
	&:active,
	&:visited {
		span {
			color: $foreground;
			transition: all ease-in-out .2s;
		}
	}

	&:focus,
	&:hover {
		span {
			background: $background-secondary;
			color: $foreground;
		}
	}
}

.btn--download {
	display: inline-flex;
	align-items: center;
	color: $foreground;
	font-weight: $font-medium;
	opacity: 0.5;
	transition: all ease-in-out 350ms;

	.icon--download {
		margin-right: 8px;
		fill: $foreground;
		transition: all ease-in-out 350ms;
	}
}

.btn--cta {
	display: block;
	padding: 3px 10px;
	background: $background-secondary;
	font-weight: $font-medium;
	font-family: $font-secondary;
	text-transform: uppercase;
	opacity: 1;
	transition: all ease-in-out 350ms;

	.icon--download {
		margin-right: 8px;
		fill: $foreground;
		transition: all ease-in-out 350ms;
	}

	&:hover {
		background: $foreground;
		color: $foreground-negative;

		.icon--download {
			fill: $foreground-negative;
		}
	}
}

.btn--submit {
	display: block;
	padding: 5px 10px;
	background: $background-secondary;
	font-size: 30px;
	font-weight: $font-medium;
	font-family: $font-secondary;
	text-transform: uppercase;
	opacity: 1;
	transition: all ease-in-out 350ms;

	&:hover {
		background: $foreground;
		color: $foreground-negative;
	}

	@include media-down(sm) {
		padding: 3px 8px;
		font-size: 24px;
	}
}

.btn--back {
	display: block;
	padding: 5px 10px;
	font-size: 30px;
	font-weight: $font-medium;
	font-family: $font-secondary;
	text-transform: uppercase;
	border: 2px solid $foreground;
	color: $foreground;
	opacity: 1;
	transition: all ease-in-out 350ms;

	&:hover {
		border-color: $background-secondary;
		background: $background-secondary;
		color: $foreground;
	}

	@include media-down(sm) {
		padding: 3px 8px;
		font-size: 24px;
		margin-bottom: 15px;
	}
}

.btn--sticky {
	display: block;
	width: 100%;
	padding: 3px 8px;
	font-size: 24px;
	font-weight: $font-medium;
	font-family: $font-secondary;
	text-transform: uppercase;
	opacity: 1;
	cursor: pointer;
	transition: all ease-in-out 350ms;

	&,
	&:link,
	&:focus,
	&:active,
	&:visited,
	&:hover {
		background: $background-negative;
		color: $foreground-negative;
	}

	@include media-up(md) {
		display: none;
	}

	@include media-down(sm) {
		display: block;
		padding: 3px 8px;
		font-size: 24px;
	}
}

.btn--category {
	@extend %btn;
	display: inline-block;

	span {
		display: inline-block;
		padding: 8px 16px;
		font-size: 16px;
		line-height: 1;
		font-weight: $font-semibold;
		border: none;
		transition: all ease-in-out .2s;
	}

	&,
	&:active,
	&:visited {
		span {
			background: $background-secondary;
			color: $foreground;
			transition: all ease-in-out .2s;
		}
	}

	&:focus,
	&:hover {
		span {
			background: $background-negative;
			color: $foreground-negative;
		}
	}

	.section--negative & {

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			span {
				background: $background-negative;
				color: $foreground-negative;
			}
		}
	}

	@include media-down(xs) {
		display: block;
	}
}

.btn--zoom {
	.icon--search {
		width: 20px;
		height: 20px;
	}

	.icon--close {
		width: 20px;
		height: 20px;
	}
}

.btn--wishlist {
	.icon--wishlist {
		width: 25px;
		height: 22px;
	}

	.icon--wishlist+span {
		margin-left: 10px;
	}
}
