@import '../mixins';

%section--hero {
	position: relative;
	background: white;

	.swiper-container {
		@extend %swiper-hero;
		overflow: hidden;
	}

	.background {
		z-index: 0;
	}

	.container,
	.container-fluid {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	@media screen {
		.aspect {
			height: 100%;
		}

		@include media-up(md) {
			display: flex;
			min-height: calc(100vh - 20px);
			min-height: unquote("min(calc(100vh - 20px), 680px)");

			.container,
			.container-fluid {
				padding-top: 220px;
				padding-bottom: 96px;
			}
		}

		@include media-down(sm) {
			// height: calc(100vh - 48px); // Fallback for browsers that do not support Custom Properties
			// height: calc(var(--vh, 1vh) * 100 - 48px);
			height: auto;

			.container,
			.container-fluid {
				padding: 120px 30px 65px 30px;
			}
		}
	}

	@media print {
		background: white;

		video,
		img,
		.data-thron {
			display: none;
		}
	}
}

%section--hero-typography {
	.category {
		font-family: $font-secondary;
		line-height: 1.2;
		font-weight: $font-medium;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.title {
		font-family: $font-secondary;
		line-height: 0.85;
		font-weight: $font-medium;
		margin-bottom: 15px;
		text-transform: uppercase;

		small {
			font-size: 50px;
		}
	}

	.abstract {
		line-height: 1.4;
		font-weight: $font-light;
		max-width: 960px;
	}

	@include media-up(md) {
		.category {
			font-size: 20px;
		}

		.title {
			font-size: 70px;

			small {
				font-size: 50px;
			}
		}

		.abstract {
			font-size: 22px;
		}
	}

	@include media-down(sm) {
		.category {
			font-size: 20px;
		}

		.title {
			font-size: 50px;

			small {
				font-size: 40px;
			}
		}

		.abstract {
			font-size: 19px;
		}
	}

	@media print {
		.category {
			color: $foreground;
		}

		.title {
			color: $foreground;
		}

		.abstract {
			color: $foreground;
		}
	}
}

.section--hero {
	@extend %section--hero;
	@extend %section--hero-typography;
	color: $foreground-negative;

	.group--cta {
		display: flex;
		margin-top: 15px;
	}
}

.section--hero-positive {
	@extend %section--hero;
	// @extend %section--hero-typography;

	.title {
		@extend %title-detail;
		display: inline-flex;
		align-items: center;

		&:first-child {
			margin-top: 60px;
		}

		b {
			color: $foreground-primary;
		}
	}

	.icon--bim {
		width: 55px;
		height: 55px;
		fill: $foreground-primary;
		margin-right: 15px;
	}

	.abstract {
		@extend %abstract-detail;
		line-height: 1.2;
	}

	.description {
		@extend %description-detail;
	}

	.group--cta {
		display: flex;
		margin-top: 15px;
	}

	.swiper-container {

		@media screen {
			.swiper-pagination-bullet {
				border-color: rgba($foreground, 0.5);

				&:before {
					background: $foreground;
				}
			}
		}
	}

	.background {
		@media screen {
			&:after {
				background: rgb(255, 255, 255);
				background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0) 50%),
					linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 55%);
			}
		}
	}

}

.section--hero-secondary {
	@extend %section--hero;
	@extend %section--hero-typography;
	color: $foreground-negative;

	.container {
		padding-bottom: 90px;
	}

	@media screen {
		@include media-up(md) {
			min-height: 490px;
			min-height: unquote("min(calc(100vh - 20px), 490px)");
		}
	}
}

.section--hero-tertiary {
	@extend %section--hero;
	@extend %section--hero-typography;
	color: $foreground-negative;

	.container {
		padding-top: 110px;
		padding-bottom: 10px;
	}

	.background {
		&:after {
			background: $background-secondary;
		}
	}

	@media screen {
		@include media-up(lg) {
			min-height: 200px;
			min-height: unquote("min(calc(100vh - 20px), 200px)");
		}

		@include media-down(md) {
			min-height: 188px;
			min-height: unquote("min(calc(100vh - 20px), 188px)");
		}

		@include media-down(sm) {
			min-height: 55px;
			min-height: unquote("min(calc(100vh - 20px), 55px)");
		}
	}
}

.section--hero-contain {
	@extend %section--hero;
	@extend %section--hero-typography;
	background: linear-gradient(to bottom, rgba(25, 37, 90, 0) 0%, rgba(25, 37, 90, 0) 1%, rgba(25, 37, 90, 0.15) 35%, rgba(25, 37, 90, 0.7) 100%);
	color: $foreground-negative;

	.container {
		padding-bottom: 90px;
	}

	.background {
		top: 200px;
		height: calc(100% - 200px);
		background: transparent;

		&:after {
			display: none;
			// background: linear-gradient(to bottom, rgba(25, 37, 90, 0) 0%, rgba(25, 37, 90, 0) 1%, rgba(25, 37, 90, 0.15) 35%, rgba(25, 37, 90, 0.7) 100%);
		}

		img,
		video,
		canvas {
			object-fit: contain;
			background: transparent;
		}
	}

	@media screen {
		@include media-up(md) {
			min-height: 560px;
			min-height: unquote("min(calc(100vh - 20px), 560px)");
		}
	}
}

.section--headline {
	@extend %section--hero-typography;
	padding: 30px 0 70px 0;

	.group--cta {
		display: flex;
		margin-top: 15px;
	}
}

.scroll__indicator {
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	z-index: 10;

	svg {
		width: 40px;
		height: 40px;
		fill: white;
		animation: down-soft 1.8s both infinite;
		animation-delay: 3s;
	}
}
